@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

.dark {
  --background: 15 15 20;
  --foreground: 237 237 240;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
